@{
    ViewData["Title"] = "About Us - Travel Blog";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-/RDZDEIfg4B+nItK9mdwpMwLHxLd+B2bMsx62l00C46m3SPDKE0W4TGM3Te5MLBx0FrQxGiyIySZJti7lMjLGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">Travel Blog</h1>
                <ul class="nav-links">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                    <li><a href="@Url.Action("Index", "Data")">Data</a></li>
                    <li><a href="@Url.Action("Index", "About")">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="about-section">
        <div class="container">
            <h1>About Us</h1>
            <p align="justify">Welcome to Travel Blog! We are a passionate team of travelers who love exploring new destinations, experiencing different cultures, and sharing our adventures with the world. Our mission is to inspire and empower others to travel and discover the beauty of our planet.</p>
            <p align="justify">Follow along with us as we share travel tips, destination guides, personal stories, and more. Whether you're a seasoned traveler or planning your first trip, we hope our blog will inspire you to embark on your own journey of discovery.</p>
        </div>
        <div id="content">
            <div>
                <div class="member">
                    <img src="https://i.postimg.cc/MKD8ZcHK/Himanshu.jpg">
                    <h3 align="center">Himanshu Prajapati</h3>
                    <div>
                        <a href="https://www.linkedin.com/in/himanshu-prajapati4498/" target="_blank"><img class="social-icon" src="~/img/linkedin.png"></a>
                        <a href="https://github.com/himanshuskytek" target="_blank"><img class="social-icon" src="~/img/github.png"></a>
                    </div>

                    <p align="justify">
                        Currently a student at USF's Business Analytics and Information Systems graduate program,
                        Himanshu has worked as an Associate Software Engineer for about 3 years. He has contributed to the project in developing java script, css and index.html.
                    </p>
                </div>
                <div class="member">
                    <img src="https://i.postimg.cc/Y0QMzbt1/banakar-01.jpg">
                    <h3 align="center">Rachana Nagaraj Banakar</h3>
                    <div>
                        <a href="https://www.linkedin.com/in/rachana-nagaraj-banakar-6222231b6/" target="_blank"><img class="social-icon" src="~/img/linkedin.png"></a>
                        <a href="https://github.com/Rachananbanakar" target="_blank"><img class="social-icon" src="~/img/github.png"></a>
                    </div>

                    <p align="justify">
                        A graduate student in Business Analytics and Information Systems at USF, Rachana has
                        2 years of experience as an Associate Software Engineer in Accenture and 1 year of experience in Shri Ram as a Data Engineer.
                        She has contributed in building the bolg page and also rectifying the error in about page.
                    </p>
                </div>
                <div class="member">
                    <img src="https://i.postimg.cc/rmJ9RLrW/Ritesh.jpg">
                    <h3 align="center">Ritesh Arun Raut</h3>
                    <div>
                        <a href="https://www.linkedin.com/in/riteshraut/" target="_blank"><img class="social-icon" src="~/img/linkedin.png"></a>
                        <a href="https://github.com/ritzraut" target="_blank"><img class="social-icon" src="~/img/github.png"></a>
                    </div>

                    <p align="justify">
                        Ritesh is a student at USF's Business Analytics and Information Systems graduate program.
                        He has worked with insurance companys back in India and has worked on various Management roles.
                        He has contributed in creating about page, along with ERD & data model, and also create page.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <span style="font-weight: bold;">Github Link to Project:</span>
            <a href="https://github.com/himanshuskytek/Assignment_LookAndFeel">Assignment_LookAndFeel</a>
        </div>

        <div class="link-image">
            <span style="font-weight: bold; margin-bottom: 5px;">Data Model</span>
            <img src="https://i.postimg.cc/HnshyDcK/Blank-diagram-1.png" alt="ERD not available">
        </div>
    </section>

</body>
</html>
